@charset "UTF-8";

@font-face{
    font-family: 'Fontelogo';
    src: url("../font/Mermaid1001.ttf");
    font-family: 'Fontetexto';
    src: url("../font/Dead\ Revolution.otf")
}

body{
    background-color: rgb(243, 243, 243);
}

p {
    text-align: justify;
    text-indent: 41px;
    font-size: medium;
}

div#interface{
    width: 1000px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 7.5px rgba(0,0,0,.4);   
    padding: 10px;
}

header#cabecalho{
    height: 180px;
    background: url("../images/background_header.jpg") 0px -75px;
    margin-bottom: 3px;
}

header#cabecalho h1{
    font-family: 'Fontelogo', sans-serif; 
    font-size: 35px;
    color: rgb(82, 76, 76);
    text-shadow: 1px 1px 4px;
    text-indent: 40px;
    padding-top:20px;
}

header#cabecalho h2{
    font-size: 25px;
    color: rgb(96, 110, 102);
    text-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.6);
    text-indent: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

figure.foto-legenda{
    position: relative;
    width: 400px;
    height: 250px;
    border: 5px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    transition: opacity 0.8s;
}   

figure.foto-legenda:hover figcaption {
    opacity: 1;
    background-color: rgba(0,0,0,.4);
}

nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 760px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.8s;
}

nav#menu li:hover{
    background-color: rgb(50, 67, 75, 0.4);
}

ul.opcoes_listadas li{
    text-indent: 40px;
}

nav#menu h1{
    display: none;
}

section#corpo{
    display: block;
    width: 440px;
    float: left;
    border-right: 1px solid black;
    padding-right: 40px;
}

section#corpo h1{
    text-indent: 30px;
}

section#corpo p{
    margin-left: 14px;
}

table#tabelaspec{
    border: 1px solid rgb(150, 150, 150);
    margin-bottom: 5px;  
    border-spacing: 0px;  
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td{
    border: 1px solid rgb(150, 150, 150);
    padding: 10px;
    text-align: center;
}

table#tabelaspec td.ce{
    color: rgb(255, 255, 255);
    background-color: rgb(150, 150, 150);
}

aside#lateral{
    display: block;
    width: 490px;
    float: right;
}

aside#lateral p{
    margin: 16px;
}

footer#rodape{
    clear:both;
    border-top: 1px solid black;
}

footer#rodape p{
    text-align: center;
}